/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container1 {
    /* top:100px; */
    
   /* background-color: blueviolet; */
    padding: 80px;
    /* margin:100px; */
    height:80vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
    gap: 15px;
    position: fixed;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    background-color: rgba(249, 249, 252, 0.5);
    
    
}

.container1:hover {
    border-color: #F09819; /* Change to your desired hover border color */
}
.regBody {
    background-color: rgb(188, 81, 131);
    
   
}
.input {
    border-color: white; /* Change to white */
    background-color: rgb(224, 158, 158);
    height: 40px;
    width: 300px;
    border-radius: 9px;
    color:white;
    /* margin:50px; */
}
label {
    color: white; /* Change to white */
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input:hover {
    border-bottom: 2px solid #F09819; /* Change to your desired hover bottom border color */
}

.hello {
    padding-top: 30px;
    padding-left: 100px;
    gap:20px;
    padding-right: 20px;
    flex-direction: row;
    display:flex;
}
.bb {
    height: 35px;
    width: 90px;
    border-radius: 7px;
    font-size: large;
    
    background-color: white; /* Change to white */
    border: 2px solid white; /* Add a white border */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.book-image
{
   right:0;
   top:0;
   position:fixed;
   display:flex;
   width: 700px;
   height: 100vh;
   margin:0;
   
   
}
.bb {
    height: 35px;
    width: 90px;
    background-color: white;
    border: 2px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.bb:hover {
    background-color:rgb(160, 160, 199); /* Change to your desired hover color */
    color: white; /* Change to your desired hover text color */
}
.left
{
    
    /* left:100px; */
    position:fixed;
    display:flex;
    /* background-color: black; */
    height:100vh;
    width:105vw;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/premium-photo/pink-background-with-bunch-toys-pink-background_265515-4336.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin:10px; */
}

h3{
    padding-left:60px;
}